.nav {
    grid-area: n;
    background-color: #7048ef;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: .5rem;
    height: 70vh;
}

.item {
    color: white;
}

.item:last-child {
    margin-top: 20px;
}