.wrapperItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 30px;
}

.item {
    display: flex;
    gap: 20px;
    align-items: center;
}

.img {
    width: 50px;
    height: 50px;
    background-color: #a8a5a5;
    border-radius: 50%;
}

.text {
    margin: 0;
}

.likeCount {
    align-self: flex-end;
}