.wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-width: 500px;
    margin: 50px auto 0 auto;
}

.wrapper textarea {
    resize: none;
    min-height: 50px;
    border: 1px solid;
}

.sandBtn {
    color: white;
    background-color: #7048ef;
    font-weight: 700;
    border: 1px solid #7048ef;
    padding: .8rem 2.4rem;
    align-self: flex-start;
}